quarkus:
  http:
    port: ${QUARKUS_HTTP_PORT:8081}
  datasource:
    db-kind: postgresql
    username: ${QUARKUS_DATASOURCE_USERNAME:erp_user}
    password: ${QUARKUS_DATASOURCE_PASSWORD:erp_pass}
    jdbc:
      url: ${QUARKUS_DATASOURCE_JDBC_URL:jdbc:postgresql://localhost:5432/erp_identity}
      driver: org.postgresql.Driver
    devservices:
      enabled: false
  hibernate-orm:
    validate-in-dev-mode: true
  flyway:
    migrate-at-start: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  log:
    console:
      format: "%d{HH:mm:ss} %-5p [%c{3.}] (%t) %s%e%n"
    level: INFO

"%dev":
  quarkus:
    http:
      port: ${QUARKUS_HTTP_PORT:8081}
    datasource:
      username: ${QUARKUS_DATASOURCE_USERNAME:erp_user}
      password: ${QUARKUS_DATASOURCE_PASSWORD:erp_pass}
      jdbc:
        url: ${QUARKUS_DATASOURCE_JDBC_URL:jdbc:postgresql://localhost:5432/erp_identity}

"%prod":
  quarkus:
    datasource:
      devservices:
        enabled: false
    hibernate-orm:
      database:
        generation: validate

mp:
  messaging:
    outgoing:
      identity-events-out:
        connector: smallrye-kafka
        topic: ${IDENTITY_EVENTS_TOPIC:identity.domain.events.v1}
        bootstrap:
          servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

app:
  environment: PRODUCTION


